
.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--card-bg);
  color: var(--text);
  text-align: center;
  border-radius: 10px;
  
}

.footer-text {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--text);
}


.quote {
  font-size: 16px;
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 8px;
  opacity: 0.8;
}


